.filter-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.filter-container > * {
  margin-bottom: 10px;
}

.add-product-button {
  position: sticky;
  top: 10px;
  right: 10px;
  left: 800px;
  z-index: 1;
}


.MuiSelect-select.MuiSelect-select {
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 200px;
}