.red-background {
    /* red hex code is  */
    background-color: #cf3636;
  }
  
  .orange-background {
    background-color: #c47e3d;
  }
  
  .green-background {
    background-color: #93d493;
  }