.product-list {
    margin-top: 20px;
  }
  
  .product-list form {
    margin-top: 20px;
  }
  
  .product-list input,
  .product-list button {
    margin: 5px;
  }
  
  .product-list button {
    padding: 5px 10px;
  }
  
  .product-list .product {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
  }
  

  .product-list-container {
    height: 800px; /* Adjust the height as needed */
    overflow: auto;
    position: relative;
  }
  
  .add-product-container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    z-index: 1;
  }
  